:root {
  --main-text-color: #212121;
  --blue-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
}

/* header */

.nav-list a {
  list-style: none;
}

.logo {
  font-size: 26px;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  color: #000000;
  line-height: 1, 173;
  list-style: none;
}

.logo span {
  color: var(--blue-color);
}
